name: Build aapt2

on:
  push:
    branches:
      - main
      - dev
  workflow_dispatch:
    inputs:
      logLevel:
        description: 'Reason'     
        required: false
        default: 'Update package'

jobs:
  build:
    name: build
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      attestations: write
    strategy:
      matrix:
        target: [{os: linux, arch: x86_64}, {os: linux, arch: arm64-v8a}]
      fail-fast: false
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: 'true'

      - uses: nttld/setup-ndk@v1
        id: setup-ndk
        with:
          ndk-version: r23c
          add-to-path: false

      - run: ./build.sh ${{ matrix.target.os }} ${{ matrix.target.arch }}
        env:
          NDK_TOOLCHAIN: ${{ steps.setup-ndk.outputs.ndk-path }}/toolchains/llvm/prebuilt/${{ matrix.target.os }}-${{ matrix.target.arch }}

      - name: Attest build provenance
        uses: actions/attest-build-provenance@v1
        with:
          subject-name: dist-${{ matrix.target_arch }}
          subject-path: dist

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: dist-${{ matrix.target_arch }}
          path: dist
